.form-check-input:checked {
    background-color: $secondary;
    border-color: $secondary;
}

//基本資料
.form-control,.form-control:focus{
    border: solid 2px $secondary;
    color: $secondary;
}

.form-control::placeholder{
    color: $secondary;
  }

  //性別
  .form-select,.form-select:focus{
    border: solid 2px $secondary;
    color: $secondary;
  }