
//hover
.hoverPrimary{
  &:hover{
    color: $primary !important;
  }
}
.hoverSecondary{
  &:hover{
    color: $secondary !important;
  }
}
.hoverTertiary{
  &:hover{
    color: $tertiary !important;
  }
}

//heverBtn
.hoverBtnSecondary{
    color: $dark;
    &:hover{
      background-color: $secondary !important;
      color: white;
    }
  }
  
.hoverBtnTertiary{
  color: $tertiary;
  &:hover{
    background-color: $tertiary !important;
    color: white !important;
  }
}
// picHover
.picHover{
  overflow:hidden;
  img{
      transition: all 0.5s ease-out;
      &:hover{
          transform:scale(1.2,1.2);
      }
  }
}