.menu li a {
		padding-bottom: 10px;
		position: relative;
    &:after {
        content: "";
        position: absolute;
        bottom: 15%;
        left: 0;
        width: 100%;
        height: 2px;
        background: $secondary;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.5s;
      }
    &:hover::after {
      transform: scaleX(1);
      transform-origin: left;
    }
}