
// 課表
.scrollbar-x::-webkit-scrollbar {
      height: 8px;
  }
  
.scrollbar-x::-webkit-scrollbar-track,
.scrollbar-x::-webkit-scrollbar-thumb {
    border-radius: 3px;
}

.scrollbar-x::-webkit-scrollbar-track {
    background-color: $light;
}

::-webkit-scrollbar-thumb {
    background-color: $tertiary;
}