
//z-index
.z-index-0{
  z-index: 0 !important;
}
.z-index-2{
  z-index: 2 !important;
}
.z-index-3{
  z-index: 3 !important;
}

//bg-attachment-fixed
.bg-attachment-fixed{
  background-attachment: fixed;
}

//opacity
.opacity-0\.5{
  opacity: 0.5;
}
.opacity-1{
  opacity: 1;
}

// text-shadow
.text-shadow{
  text-shadow: 0.05em 0.08em 2px $black;
}

.start-13{
  left: 13%;
}

.start-18{
  left: 18%;
}

// height
.h-196{
  height: 196px;
}
.h-207{
  height: 207px;
}
.h-210 {
  height: 210px;
}
.h-218{
  height: 218px;
}


.h-243{
  height: 243px;
}

.h-350{
  height: 350px;
}

.h-420{
  height: 420px;
}
.h-444{
  height: 444px;
}
.h-582{
  height: 582px;
}
.h-628{
  height: 628px;
}


// breakpoint
@include media-breakpoint-up(md) {
  .fs-md-lg{
    font-size:48px !important;
  }
  .h-md-117{
    height: 117px;
  }
  .h-md-266{
    height: 266px;
  }
  .h-md-252{
    height: 252px;
  }
  .h-md-auto{
    height: auto;
  }

}

@include media-breakpoint-up(lg) {
  .overflow-lg-hidden{
    overflow: hidden !important;
  }

  .w-lg-100{
    width: 100% !important;
  }
  .h-lg-420{
    height: 420px;
  }
  .h-lg-444{
    height: 444px;
  }
  .h-lg-207{
    height: 207px;
  }
}

