// stylelint-disable indentation

// Utilities

$utilities: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$utilities: map-merge(
  (
    
    "font-size": (
      responsive: true,//new
      rfs: true,
      property: font-size,
      class: fs,
      values: $font-sizes
    ),

    "rounded": (
      property: border-radius,
      class: rounded,
      values: (
        null: $border-radius,
        0: 0,
        1: $border-radius-sm,
        2: $border-radius,
        3: $border-radius-lg,
        4: 16px,//new
        circle: 50%,
        pill: $border-radius-pill
      )
    ),

  ),
  $utilities
);
